---
title: The last sales CRM you'll ever need
description: Track and optimize your sales team in real time
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable">CORVY</h1>
		<p class="subtext editable">
				CORVY ist ein <strong>individuell</strong> auf dich zugeschnittenes <strong>Fitnessprogramm</strong>. 
				<br/>
				Wir möchten dich durch eine körperliche Diagnose zielgerichtet sportlich und gesundheitlich fördern, indem wir auf viel frische Luft setzen (Outdoortraining) und dabei auf vier Säulen aufbauend trainieren.
		</p>
		<div class="cta button alt"><a href="https://www.coursika.de/de-de/Provider/Calendar?TrialOnly=False&domain=corvy2&w=/list">Kostenloses Probetraining</a></div>				
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Kraft</h2>
				<p>Hier geht es nun darum, dass die verschiedenen Muskelgruppen durch Wiederholungen gestärkt werden und in ihrem vollen Beweglichkeitsradius beansprucht werden. Mobilität und Stabilität werden dabei als Grundfähigkeiten eingebracht. Der Kraftteil dauert 20 Minuten.</p>
			</div>
			<div class="image">
				<img src="{% include relative-src.html src=/images/diashow/corvy_07.jpg %}" alt="Screenshot" class="editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Ausdauer</h2>
				<p>Auch das 15-minütige zielgerichtete Training des Herz-Kreislauf-Systems steht bei jeder Einheit auf dem Programm. Durch eine Kombination von abwechslungsreichen Koordinations- und Schnellkraftübungen wird die sportliche Leistungsfähigkeit gefördert. Das Training schließt mit einem 5-minütigen Cool-down-Programm.</p>
			</div>
			<div class="image">
				<img src="{% include relative-src.html src=/images/diashow/corvy_05.jpg %}" alt="Screenshot" class="editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Mobilität</h2>
				<p>Am Anfang jeder Trainingseinheit steht ein 50-minütiges Warm-up der Gelenke und der Wirbelsäule. Darauf folgt eine gezielte Korrektur von bereits vorhandenen Fehlstellungen, was wichtig ist, damit du eine richtige Haltung erlangst und die folgendenÜbungen korrekt und qualitativ gut ausführen kannst.</p>
			</div>
			<div class="image">
				<img src="{% include relative-src.html src=/images/diashow/corvy_41.jpg %}" alt="Screenshot" class="editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Stabilität</h2>
				<p>Die richtige Haltung, die wir bei den Mobilitätsübungen erarbeitet haben, stärken wir nun, indem wir 30 Minuten über Atemübungen, Bewegungs- sowie Halteübungen die verschiedenen Muskelpartien anspannen.</p>
			</div>
			<div class="image">
				<img src="{% include relative-src.html src=/images/diashow/corvy_16.jpg %}" alt="Screenshot" class="editable" />
			</div>
		</div>
	</section>

	<section class="testimonial" style="background-color: #20232a; color: white;">
		<div class="text editable" style="text-align: center;">
			<h2>CORVY-Ablauf</h2>
		</div>
		<div class="container flex">
			<ul class="staff">
				<li>
					<i class="fa fa-handshake-o fa-fw fa-3x" style="color: #009685; margin-bottom: 0.625rem;"></i>
					<h3 class="name">Probetraining</h3>
					<div class="position" style="color: white;">Herzlich Willkommen - schnupper rein und lass dich von uns in eine neue Welt des Trainings einführen.</div>
				</li>
				<li>
					<i class="fa fa-heartbeat fa-fw fa-3x" style="color: #009685; margin-bottom: 0.625rem;"></i>
					<h3 class="name">Anamnese - Einführung</h3>
					<div class="position" style="color: white;">Zielgerichtete Biometrische-, Motorische-Tests sowie eine Haltungs- und Ganganalyse. Einführung in Höhe 1.</div>
				</li>
				<li>
					<i class="fa fa-wrench fa-fw fa-3x" style="color: #009685; margin-bottom: 0.625rem;"></i>
					<h3 class="name">Recovery</h3>
					<div class="position" style="color: white;">Individuelles Beheben der Fehlhaltung. Wiederherstellung auf schmerzfreien und leistungsfähigen Zustand durch zielgerichtetes Lösen von verspannten Strukturen. Zusätzlich erhaltet Ihr einen persönlichen Mobilitätsplan als Hausaufgabe.</div>
				</li>
				<li>
					<i class="fa fa-bullhorn fa-fw fa-3x" style="color: #009685; margin-bottom: 0.625rem;"></i>
					<h3 class="name">Corvy Höhe 1</h3>
					<div class="position" style="color: white;">In Höhe 1 angekommen kannst du nun im Tagesprogramm deinen Schwierigkeitsgrad selbst wählen. Du hast die Auswahl zwischen 6 Schwierigkeitsstufen. Des weiteren erlernst die grundlegenden Bewegungsmuster der jeweiligen Übungen.</div>
				</li>
				<li>
					<i class="fa fa-repeat fa-fw fa-3x" style="color: #009685; margin-bottom: 0.625rem;"></i>
					<h3 class="name">Retest - Einführung</h3>
					<div class="position" style="color: white;">Erneute Anamnese und Überprüfung des aktuellen Zustands. Einführung in Höhe 2.</div>
				</li>
				<li>
					<i class="fa fa-arrow-circle-up fa-fw fa-3x" style="color: #009685; margin-bottom: 0.625rem;"></i>
					<h3 class="name">Nächste Höhe</h3>
					<div class="position" style="color: white;">Deine Beweglichkeit und Stabilität hat Dich auf ein neues Level gehoben. Insgesamt kannst Du dich über 6 Corvy Höhen steigern.</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="testimonial">
		<div class="text editable" style="text-align: center;">
			<h2>Das sagen unsere Teilnehmer</h2>
		</div>
		<div class="container flex">
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_comments/" class="btn"><strong>&#9998;</strong> Manage Comments</a></p>
			<ul class="staff">
				{% for person in site.comments %}
					<li>
						<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
						<div class="name">{{ person.name }}</div>
						<div class="position">{{ person.comment }}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="testimonial" style="background-color: #20232a; color: white;">
		<div class="text editable" style="text-align: center;">
			<h2>Coaches</h2>
		</div>
		<div class="container flex">
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage staff</a></p>
			<ul class="staff" style="width: 100%;">
				{% for person in site.staff_members %}
					<li>
						<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
						<div class="name">{{ person.name }}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="testimonial" style="background-color: #20232a; color: white;">
		<iframe frameborder="0" id="embeddedFrame" name="embeddedFrame" scrolling="yes" src="https://www.coursika.de/de-de/Provider/Calendar?domain=corvy2&amp;TrialOnly=False" width="100%" height="1450"></iframe>
	</section>	
<!--
	<section class="bottom-cta">
		<h2 class="editable"><strong>Improve</strong> your sales process today</h2>
		<div class="button alt"><a href="#">Get Started Free</a></div>
	</section>
-->
</div>
